name: Create Texture Pack Zip File
on:
  create:
    tags:
      - v*
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Archive Release
      uses: thedoctor0/zip-release@master
      with:
        type: 'zip'
        filename: 'SeeThroughWater.zip'
        exclusions: '*.git* 1.png 2.png'
    - name: Upload Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "SeeThroughWater.zip"
        token: ${{ secrets.GIT_TOKEN }}
